.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 90vw;
    margin: 0 auto;
}

.listBlock {
    display: flex;
    list-style-type: none;
    font-size: 30px;
    padding-left: 0;
}

.listBlock li a {
    text-decoration: none;
    margin-right: 20px;
    color: #3f88d8;
    font-weight: bold;
}

.listBlock li a:hover {
    color: orange;
}

input {
    padding: 20px 10px;
    width: 20vw;
    font-size: 20px;
    border-radius: 7px;
    border: 3px solid #3176d2;
    box-sizing: border-box;
    margin-right: 10px;
    color: #3f88d8;
}


form {
    display: flex;
}

.headerButton {
    font-size: 20px;
    width: 85px;
    padding: 20px 10px;
    color: white;
    background-color: #3176d2;
    border-radius: 7px;
    border: 1px solid #3176d2;
    box-sizing: border-box;
    cursor: pointer;
}

.headerButton:hover {
    background-color: orange;
    border-color: orange;
}