.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.listBlock {
    display: flex;
    list-style-type: none;
    font-size: 30px;
    padding-left: 0;
}

.listBlock li a {
    text-decoration: none;
    margin-right: 20px;
}

input {
    padding: 20px 10px;
    width: 20vw;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid;
    box-sizing: border-box;
    margin-right: 10px;
}

.headerButton {
    font-size: 20px;
    width: 85px;
    padding: 20px 10px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid;
    box-sizing: border-box;
}
