.movieCardBlock {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.movieTitle {
    text-align: center;
    font-size: 30px;
    height: 20%;
}

.movieTitle a {
    text-decoration: none;
    color: #3f88d8;
    font-weight: bold;
}

.movieTitle a:hover {
    text-decoration: underline;
    color: orange;
}
